In [1]:
import pandas as pd
import requests
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import SessionNotCreatedException
from selenium.common.exceptions import TimeoutException

In [77]:
page13=requests.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
soup13=BeautifulSoup(page13.content)

In [78]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [79]:

for i in soup13.find_all('tr')[2:32]:
    Rank.append(i.text.split('\n')[1])

In [80]:
for i in soup13.find_all('tr')[2:32]:
    Name.append(i.text.split('\n')[2])

In [81]:
for i in soup13.find_all('tr')[2:32]:
    Artist.append(i.text.split('\n')[3])

In [82]:
for i in soup13.find_all('tr')[2:32]:
    Upload_date.append(i.text.split('\n')[6])

In [83]:
for i in soup13.find_all('tr')[2:32]:
    Views.append(i.text.split('\n')[5])

In [84]:
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload Date':Upload_date,'Views':Views})
df

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.27,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.08,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.61,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.01,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.91,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.78,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.15,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,4.92,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.83,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.81,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.69,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.53,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.23,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.82,"January 14, 2015"
14,15.,"""Axel F""[35]",Crazy Frog,3.75,"June 16, 2009"
15,16.,"""Roar""[36]",Katy Perry,3.73,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.72,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.63,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.55,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.49,"June 25, 2018"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.47,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.45,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.40,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.38,"July 25, 2012"
24,25.,"""Girls Like You""[45]",Maroon 5,3.37,"May 31, 2018"
25,26.,"""Perfect""[46]",Ed Sheeran,3.37,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.33,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.33,"March 22, 2015"
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.30,"January 26, 2018"
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,3.30,"June 14, 2018"

In [27]:
driver=webdriver.Chrome(r"C:\Users\rudra\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.bcci.tv/")

In [28]:
search=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search.click()

In [29]:
team=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[1]')
team.click()

In [30]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[1]/input')
search.send_keys('India')

In [39]:
Team=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
Team.click()

In [32]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [33]:
brand=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in brand:
    brand1=i.text.split(',')[0]
    Match_title.append(brand1)
Match_title

['1st Test - Vidarbha Cricket Association Stadium',
 '1st T20I - Newlands',
 '2nd T20I - Newlands',
 '2nd Test - Arun Jaitley Stadium',
 "3rd T20I - St George's Park",
 "4th T20I - St George's Park",
 '3rd Test - Himachal Pradesh Cricket Association Stadium',
 '4th Test - Narendra Modi Stadium']

In [34]:
brand=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in brand:
    brand1=i.text
    Series.append(brand1)
Series

['AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'ICC WOMENS T20 WORLD CUP 2023',
 'ICC WOMENS T20 WORLD CUP 2023',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'ICC WOMENS T20 WORLD CUP 2023',
 'ICC WOMENS T20 WORLD CUP 2023',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23']

In [35]:
brand=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in brand:
    brand1=i.text.split(',')[1]
    Place.append(brand1)
Place

[' Nagpur',
 ' Cape Town',
 ' Cape Town',
 ' Delhi',
 ' Gqeberha',
 ' Gqeberha',
 ' Dharamsala',
 ' Ahmedabad']

In [36]:
brand=driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]')
for i in brand:
    brand1=i.text
    Date.append(brand1)
Date

['9 FEB 2023',
 '12 FEB 2023',
 '15 FEB 2023',
 '17 FEB 2023',
 '18 FEB 2023',
 '20 FEB 2023',
 '1 MAR 2023',
 '9 MAR 2023']

In [37]:
brand=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]')
for i in brand:
    brand1=i.text
    Time.append(brand1)
Time

['9:30 AM IST',
 '6:30 PM IST',
 '6:30 PM IST',
 '9:30 AM IST',
 '6:30 PM IST',
 '6:30 PM IST',
 '9:30 AM IST',
 '9:30 AM IST']

In [38]:
df=pd.DataFrame({'Match Title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Match Title,Series,Place,Date,Time
0,1st Test - Vidarbha Cricket Association Stadium,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,Nagpur,9 FEB 2023,9:30 AM IST
1,1st T20I - Newlands,ICC WOMENS T20 WORLD CUP 2023,Cape Town,12 FEB 2023,6:30 PM IST
2,2nd T20I - Newlands,ICC WOMENS T20 WORLD CUP 2023,Cape Town,15 FEB 2023,6:30 PM IST
3,2nd Test - Arun Jaitley Stadium,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,Delhi,17 FEB 2023,9:30 AM IST
4,3rd T20I - St George's Park,ICC WOMENS T20 WORLD CUP 2023,Gqeberha,18 FEB 2023,6:30 PM IST
5,4th T20I - St George's Park,ICC WOMENS T20 WORLD CUP 2023,Gqeberha,20 FEB 2023,6:30 PM IST
6,3rd Test - Himachal Pradesh Cricket Associatio...,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,Dharamsala,1 MAR 2023,9:30 AM IST
7,4th Test - Narendra Modi Stadium,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,Ahmedabad,9 MAR 2023,9:30 AM IST

In [30]:
driver=webdriver.Chrome(r"C:\Users\rudra\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.statisticstimes.com/")

In [31]:
economey=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economey.click()

In [32]:
economey=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
economey.click()

In [34]:
economey=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
economey.click()

In [35]:
Rank=[]
State=[]
GSDP_18_19=[]
GDSP_19_20=[]
Share_18_19=[]
GDP=[]

In [36]:
brand=driver.find_elements(By.XPATH,'//td[@class="data1"]')[0:33]
for i in brand:
    brand1=i.text
    Rank.append(brand1)

In [44]:
State1=[]
brand=driver.find_elements(By.XPATH,'//td[@class="name"]')[0:33]
for i in brand:
    brand1=i.text
    State1.append(brand1)

In [38]:
brand=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')[0:33]
for i in brand:
    brand1=i.text
    GSDP_18_19.append(brand1)

In [39]:

brand=driver.find_elements(By.XPATH,'//td[@class="data"]')[0:165:5]
for i in brand:
    brand1=i.text
    GDSP_19_20.append(brand1)

In [47]:
brand=driver.find_elements(By.XPATH,'//td[@class="data"]')[1:165:5]
for i in brand:
    brand1=i.text
    Share_18_19.append(brand1)

In [40]:

brand=driver.find_elements(By.XPATH,'//td[@class="data"]')[2:165:5]
for i in brand:
    brand1=i.text
    GDP.append(brand1)

In [45]:
len(Rank),len(State1),len(GSDP_18_19),len(GDSP_19_20),len(GDP)

(33, 33, 33, 33, 33)

In [52]:
df=pd.DataFrame({'Rank':Rank,'State':State1,'GSDP(18-19)':GSDP_18_19,'GSDP(19-20)':GDSP_19_20,'Share(18-19)':Share_18_19,'GDP($Billion)':GDP})
df

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($Billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [3]:
driver=webdriver.Chrome(r"C:\Users\rudra\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://github.com/")

In [4]:
source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()

In [5]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending.click()

In [6]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [7]:
URL=[]    
url=driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in url:
    URL.append(i.get_attribute('href'))
URL

['https://github.com/acikkaynak/deprem-yardim-frontend',
 'https://github.com/acikkaynak/deprem-yardim-backend',
 'https://github.com/AutumnWhj/ChatGPT-wechat-bot',
 'https://github.com/fuergaosi233/wechat-chatgpt',
 'https://github.com/dabit3/gpt-travel-advisor',
 'https://github.com/f/awesome-chatgpt-prompts',
 'https://github.com/motion-canvas/motion-canvas',
 'https://github.com/TheAlgorithms/Python',
 'https://github.com/waylaidwanderer/node-chatgpt-api',
 'https://github.com/PowerJob/PowerJob',
 'https://github.com/Zero6992/chatGPT-discord-bot',
 'https://github.com/acikkaynak/deprem-yardim-projesi',
 'https://github.com/zhayujie/chatgpt-on-wechat',
 'https://github.com/TEXTurePaper/TEXTurePaper',
 'https://github.com/PlexPt/awesome-chatgpt-prompts-zh',
 'https://github.com/djun/wechatbot',
 'https://github.com/A-poc/BlueTeam-Tools',
 'https://github.com/devfullcycle/imersao12',
 'https://github.com/acheong08/ChatGPT',
 'https://github.com/LAION-AI/Open-Assistant',
 'https://github.com/lencx/ChatGPT',
 'https://github.com/eatmoreapple/openwechat',
 'https://github.com/AIGCT/EASYChatGPT',
 'https://github.com/imDazui/Tvlist-awesome-m3u-m3u8',
 'https://github.com/wangrongding/wechat-bot']

In [8]:
for i in URL:
    driver.get(i)
    time.sleep(5)
    try:
        brand=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/div/div[1]/div/div/span[1]/a')
        Repository_title.append(brand.text)
    except NoSuchElementException:
        Repository_title.append('-')

In [11]:
for i in URL:
    driver.get(i)
    time.sleep(5)
    try:
        brand=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p')
        Repository_description.append(brand.text)
    except NoSuchElementException:
        Repository_description.append('-')

In [12]:
for i in URL:
    driver.get(i)
    time.sleep(5)
    try:
        brand=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[5]/div/h2/a/span')
        Contributors_count.append(brand.text)
    except NoSuchElementException:
        Contributors_count.append('-')

In [13]:
for i in URL:
    driver.get(i)
    time.sleep(5)
    try:
        brand=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[6]/div/ul')
        Language_used.append(brand.text)
    except NoSuchElementException:
        Language_used.append('-')

In [14]:
df=pd.DataFrame({'Repository Title':Repository_title,'Repository Description':Repository_description,'Contributors Count':Contributors_count,'Language Used':Language_used})
df

,Repository Title,Repository Description,Contributors Count,Language Used
0,acikkaynak,afetharita.com frontend projesi. https://rc.af...,71,-
1,acikkaynak,afetharita.com backend projesi,-,Python\n96.0%\nDockerfile\n2.4%\nShell\n1.6%
2,AutumnWhj,ChatGPT for wechat https://github.com/AutumnWh...,-,-
3,fuergaosi233,Use ChatGPT On Wechat via wechaty,-,-
4,dabit3,Create a travel itinerary for any city in the ...,-,-
5,f,This repo includes ChatGPT prompt curation to ...,-,-
6,motion-canvas,Visualize Complex Ideas Programmatically,-,-
7,TheAlgorithms,All Algorithms implemented in Python,2,
8,waylaidwanderer,A ChatGPT implementation using the official Ch...,5,JavaScript\n99.3%\nDockerfile\n0.7%
9,PowerJob,Enterprise job scheduling middleware with dist...,17,Java\n98.8%\nOther\n1.2%
10,Zero6992,Integrate ChatGPT into your own discord bot,11,Python\n99.0%\nDockerfile\n1.0%
11,acikkaynak,-,5,-
12,zhayujie,使用ChatGPT搭建微信聊天机器人，基于OpenAI API和itchat实现。Wecha...,-,-
13,TEXTurePaper,"Official Implementation for ""TEXTure: Semantic...",3,Python\n100.0%
14,PlexPt,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,-,-
15,djun,为个人微信接入ChatGPT,-,-
16,A-poc,Tools and Techniques for Blue Team / Incident ...,-,-
17,devfullcycle,-,-,-
18,acheong08,Reverse engineered ChatGPT API,55,Python\n100.0%
19,LAION-AI,OpenAssistant is a chat-based assistant that u...,132,Python\n68.1%\nTypeScript\n29.3%\nJavaScript\n...
20,lencx,"🔮 ChatGPT Desktop Application (Mac, Windows an...",-,-
21,eatmoreapple,golang微信SDK,103,
22,AIGCT,"This is an application project of 'chatgpt',on...",-,-
23,imDazui,直播源相关资源汇总 📺 💯 IPTV、M3U —— 勤洗手、戴口罩，祝愿所有人百毒不侵,-,-
24,wangrongding,🤖一个基于OpenAi ChatGPT + WeChaty 实现的微信机器人 ，可以用来帮助...,6,JavaScript\n85.0%\nDockerfile\n9.2%\nShell\n5.8%

In [3]:
driver=webdriver.Chrome(r"C:\Users\rudra\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.billboard.com/")

In [8]:
source=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
source.click()

In [10]:
Source=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button')
Source.click()

In [11]:
Source1=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
Source1.click()

In [12]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [13]:
brand=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in brand:
    brand1=i.text.split('\n')[0]
    Song_name.append(brand1)

In [14]:
brand=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in brand:
    brand1=i.text.split('\n')[1]
    Artist_name.append(brand1)

In [15]:
brand=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in brand:
    brand1=i.text.split('\n')[2]
    Last_week_rank.append(brand1)

In [16]:
brand=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in brand:
    brand1=i.text.split('\n')[3]
    Peak_rank.append(brand1)

In [17]:
brand=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in brand:
    brand1=i.text.split('\n')[4]
    Weeks_on_board.append(brand1)

In [18]:
df=pd.DataFrame({'Song Name':Song_name,'Artist Name':Artist_name,'Last Week Rank':Last_week_rank,'Peak Rank':Peak_rank,'Week on board':Weeks_on_board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Week on board
0,Flowers,Miley Cyrus,1,1,3
1,Kill Bill,SZA,2,2,8
2,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,3,9
3,Anti-Hero,Taylor Swift,3,1,15
4,Unholy,Sam Smith & Kim Petras,5,1,19
...,...,...,...,...,...
95,Hey Mor,Ozuna Featuring Feid,-,96,1
96,Gato de Noche,Nengo Flow & Bad Bunny,85,60,6
97,Heart To Heart,Mac DeMarco,83,83,3
98,Never Gonna Not Dance Again,P!nk,-,99,1
99,Dancin' In The Country,Tyler Hubbard,-,100,1

In [22]:
driver=webdriver.Chrome(r"C:\Users\rudra\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [23]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [ ]:

brand=driver.find_elements(By.XPATH,'//td[@class="left"]')[1:500:5]
for i in brand:
    brand1=i.text
    Book_name.append(brand1)

In [9]:

brand=driver.find_elements(By.XPATH,'//td[@class="left"]')[2:500:5]
for i in brand:
    brand1=i.text
    Author_name.append(brand1)

In [10]:
brand=driver.find_elements(By.XPATH,'//td[@class="left"]')[3:500:5]
for i in brand:
    brand1=i.text
    Volumes_sold.append(brand1)

In [11]:
brand=driver.find_elements(By.XPATH,'//td[@class="left"]')[4:500:5]
for i in brand:
    brand1=i.text
    Publisher.append(brand1)

In [16]:
Genre1=[]
brand=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in brand:
    brand1=i.text
    Genre1.append(brand1)

In [21]:
df=pd.DataFrame({'Book Name':Book_name,'Author Name':Author_name,'Volumes Sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre1})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [25]:
driver=webdriver.Chrome(r"C:\Users\rudra\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")

In [26]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [27]:
brand=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in brand:
    brand1=i.text[2:]
    Name.append(brand1)

In [29]:
brand=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in brand:
    brand1=i.text
    Year_span.append(brand1)

In [30]:
brand=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in brand:
    brand1=i.text
    Genre.append(brand1)

In [31]:
brand=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in brand:
    brand1=i.text
    Run_time.append(brand1)

In [32]:
brand=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in brand:
    brand1=i.text
    Ratings.append(brand1)

In [33]:
brand=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in brand:
    brand1=i.text
    Votes.append(brand1)

In [34]:
df=pd.DataFrame({'Name':Name,'Year Span':Year_span,'Genre':Genre,'Run time':Run_time,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,120,851"
1,Stranger Things (2016–2024),(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,209,311"
2,The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,005,722"
3,13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"296,825"
4,The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"255,776"
...,...,...,...,...,...,...
95,. Reign (2013–2017),(2013–2017),Drama,42 min,7.4,"50,694"
96,. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,574"
97,. Criminal Minds (2005– ),(2005– ),"Crime, Drama, Mystery",42 min,8.1,"202,583"
98,. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,018"
99,0. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"250,408"

In [25]:
driver=webdriver.Chrome(r"C:\Users\rudra\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://archive.ics.uci.edu/")

In [26]:
source=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
source.click()

In [27]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [28]:
brand=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in brand:
    brand1=i.text
    Dataset_name.append(brand1)

In [29]:
try:

    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")

    for i in info[1:]:

         Data_type.append(i.text)

except NoSuchElementException:

    Data_type.append("No information")

time.sleep(2)

In [51]:
try:

    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")

    for i in info[1:]:

         Task.append(i.text)

except NoSuchElementException:

    Task.append("-")

time.sleep(2)

In [53]:
try:

    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")

    for i in info[1:]:

         Attribute_type.append(i.text)

except NoSuchElementException:

    Attribute_type.append("-")

time.sleep(2)

In [55]:
try:

    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")

    for i in info[1:]:

         No_of_instances.append(i.text)

except NoSuchElementException:

    No_of_instances.append("-")

time.sleep(2)

In [56]:
try:

    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")

    for i in info[1:]:

         No_of_attribute.append(i.text)

except NoSuchElementException:

    No_of_attribute.append("-")

time.sleep(2)

In [57]:
try:

    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")

    for i in info[1:]:

         Year.append(i.text)

except NoSuchElementException:

    Year.append("-")

time.sleep(2)

In [58]:
df=pd.DataFrame({'Dataset Name':Dataset_name,'Data Type':Data_type,'Attribute type':Attribute_type,'Task':Task,'No of instances':No_of_instances,'No of attribute':No_of_attribute,'Year':Year})
df

,Dataset Name,Data Type,Attribute type,Task,No of instances,No of attribute,Year
0,Abalone,Multivariate,"Categorical, Integer, Real",Classification,4177,8,1995
1,Adult,Multivariate,"Categorical, Integer",Classification,48842,14,1996
2,Annealing,Multivariate,"Categorical, Integer, Real",Classification,798,38,
3,Anonymous Microsoft Web Data,,Categorical,Recommender-Systems,37711,294,1998
4,Arrhythmia,Multivariate,"Categorical, Integer, Real",Classification,452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,"Integer, Real",Classification,75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,"Integer, Real",Classification,400,50,2020
619,Maternal Health Risk Data Set,,,Classification,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Real,Classification,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Real,Regression,4000,2,2021